<style>
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
</style>

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px; 
  background-color: #09090c;
}

a {
  text-decoration: none;
}

p {
  color: #ccc
}

img {
  object-fit: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  
  & .logo i {
    background-color: #a3e635;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 10rem;
  }
  
  & .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 2rem;
    background-color: #171717;
    border-radius: 10rem;
    gap: 1rem;
    
    & a {
      color: #fff;
      transition: all 0.3s ease;
    }
    
    & a:hover {
      color: #a3e635;
    }
    
    & .separator {
      width: 0.25rem;
      height: 1.5rem;
      background-color: #a3e635;
      border-radius: 1rem;
    }
    
    & p {
      font-size: 1.25rem;
    }
  }
}

nav .login {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  background-color: #171717;
  padding: 1rem;
  border-radius: 10rem;
}

nav .login img {
  width: 2rem;
}

