<style>
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
</style>

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body, input {
  font-family: "Outfit", sans-serif;
  font-size: 16px; 
  background-color: #09090c;
}

a {
  text-decoration: none;
}

p {
  color: #ccc
}

nav, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  
  & .logo i {
    background-color: #8fe700;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 10rem;
  }
  
  & .nav-links, footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 2rem;
    background: #5c5a5880;
    border-radius: 10rem;
    gap: 1rem;
    
    & a {
      color: #fff;
      transition: all 0.3s ease;
    }
    
    & a:hover {
      color: #8fe700;
    }
    
    & .separator, footer .copyright .separator {
      width: 0.25rem;
      height: 1.5rem;
      background-color: #8fe700;
      border-radius: 1rem;
    }
    
    & p, footer .copyright p {
      font-size: 1.25rem;
    }
  }
}

nav {
  color: white;
  
 & .login {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  background: #5c5a5880;
  padding: 1rem;
  border-radius: 10rem;
  }

 & .login img {
  width: 3rem;
  border-radius: 10rem;
 }
 
 & a {
  color: #ccc;
  transition: all 0.3s ease;
 }
 
 & a:hover {
  color: #8fe700
 }
}

.prompt-section {
  
  & h1 {
    color: #ccc;
    font-size: 7rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 3rem;
  }
  
  & .prompt-img {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    
    & img {
      width: 100%;
      justify-content: center;
      align-self: center;
      height: 440px;
      border-radius: 10rem;
      box-shadow: 0 -20px 40px rgb(59, 58, 58);
    }
    
    & input {
      width: 55%;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(255,255,255,0.2);
      border: none;
      border-radius: 10rem;
      backdrop-filter: blur(14px);
      border: 1px solid rgba(255,255,255,0.4);
      font-size: 1.25rem;
      color: white;
      padding: 1rem;
      text-align: center;
      align-items: start;
    }
    
    & input::placeholder {
      color: #ccc;
      font-size: 1.25rem;;
    }
    
    & input:focus {
      outline: none;
    }
    
    .tabs {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 1rem;
      bottom: 4%;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 4px 30px rgb(92, 92, 92);
      padding: 1rem;
      backdrop-filter: blur(10px);
      border-radius: 10rem;
    }
      
      & a {
        color: #ccc;
        transition: all 0.3s ease;
        background: #5c5a5880;
        padding: 10px;
        border-radius: 10rem;
        width: 160px;
        text-align: center;
      }
      
      & a:active, a:hover {
        color: #231f1c;
        background-color: #8fe700;
      }
    }
  }
}


.image-section-one img, .image-section-two img {
  width: 32%;
  border-radius: 1rem;
  border: 2px solid #c5c5c5;
  justify-content: center;
}

.showcase {
  padding: 1rem 1rem;
  margin-top: 1rem;
  width: 100%;
  
  & .image-section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 3rem;
  }
  
  & .image-section-one img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-radius: 1rem;
    border: 2px solid #c5c5c5;
  }
  
    & .image-section-two {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  
  & .image-section-two img {
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-radius: 1rem;
    border: 2px solid #c5c5c5;
  }
    
  & .image-section-two {
      margin-top: 3rem;
  }
  
  & .text-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 4rem;
    margin-bottom: 1rem;
    
    & p {
      width: 40%;
      text-align: justify;
      font-size: 1.5rem;
    }
  }
  
  & img {
    max-width: 300px;
    max-height: 300px;
  };
}

.showcase h3 {
  color: #ccc;
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
}

.services {
  
  & .header {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 4rem;
    color: #fff;
  }

  & .service-items {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    padding-bottom: 8rem;
    
    & .item {
      background: #1f1e1e;
      padding: 2rem;
      width: 22.5%;
      height: 360px;
      border-radius: 0.5rem;
      cursor: pointer;
      letter-spacing: 0.6px;
      
      & p {
        font-size: 1.1rem;
      }
    }
    
    & .item.active {
      background-color: #518302;
      border: 1px solid #fff;
      text
    }
    
    & .item.active .title {
      background: #000;
      
      & p {
        color: #fff;
        font-size: 1.25rem;
      }
    } 
    
    & .item.active h5, .item.active p {
      color: #000
    }
    
    & .title {
      display: flex;
      align-items: center;
      background-color: #3d3d3d;
      gap: 1rem;
      border-radius: 1rem;
      width: 60%;
      height: 2.25rem;
      margin-bottom: 2rem;
    }
    
    & .title .gradient {
      width: 2rem;
      height: 2rem;
      border-radius: 10rem;
      margin: 0 0.15rem;
    } 
    
    & h5 {
      color: #fff;
      text-transform: uppercase;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
}

.services .service-items .item:nth-child(1) .title .gradient {
  background-image: linear-gradient(to top,#fdc830, #f37335);
}

.services .service-items .item:nth-child(2) .title .gradient {
  background-image: linear-gradient(to top, #8e2de2, #4a00e0)
}
.services .service-items .item:nth-child(3) .title .gradient {
  background-image: linear-gradient(to top, #00416a, #e4e5e6)
}
.services .service-items .item:nth-child(4) .title .gradient {
  background-image: linear-gradient(to top, #ff0099, #493240)
}

.video-section {
  
  padding: 0 1rem;
  
  h3 {
    text-align: right;
  }
  
  .video {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 1rem;
    
    & img {
      width: 100%;
      justify-content: center;
      align-self: center;
      height: 420px;
      border-radius: 1rem;
      box-shadow: 0 -20px 40px rgb(59, 58, 58);
    }
  }
  
  & button {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    padding: 1rem 1rem 1rem 1.2rem;
    display: flex;
    background-color: rgba(85, 85, 85, 0.42);
    border-radius: 10rem;
    border: 2px solid #ccc;
    backdrop-filter: blur(5px);
    cursor: pointer;
  }
  
  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  & .header p {
    font-size: 1.5rem;
    width: 60%
  }
  
  & .header h3 {
    color: #ccc;
    font-size: 4rem;
  }
}

footer .copyright {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  
  .prompt-section h1 {
    font-size: 4rem;
  }
  
  .prompt-section .prompt-img .tabs {
  }
  
  .prompt-section .prompt-img .tabs a {
    width: 6.4rem;
  }
  
  .showcase h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .showcase .text-section {
    flex-direction: column;
    font-size: 0.5rem;
  }
  
  .showcase .text-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .showcase .text-section a {
    width: 100%;
  }
  
  .showcase .image-section-two {
    justify-content: center;
  }
  
  .services h3 {
    font-size: 1rem;
    line-height: 4rem;
    text-align: center;
    margin: auto;
  }
  
  .services p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  
  .services .header h3, .video-section .header h3 {
    font-size: 1.5rem;
    width: 75%;
  }
  
  .services .service-items {
    flex-wrap: wrap;
  }
  
  .services .service-items .item {
    width: 42.5%;
    height: 360px;
  }
}

@media screen and (max-width: 990px) {
  
  .prompt-section h1 {
    font-size: 3rem;
  }
  
  .showcase h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .showcase .text-section {
    flex-direction: column;
    font-size: 0.5rem;
  }
  
  .showcase .text-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .showcase .text-section a {
    width: 100%;
  }
  
  .showcase .image-section-one img {
    max-width: 242px;
  }
  
  .showcase .image-section-two img {
    max-width: 242px;
  }
  
  .services h3 {
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
    margin: auto;
  }
  
  .services .header h3, .video-section .header h3 {
    font-size: 1.5rem;
    width: 75%;
  }
  
  .services .service-items {
    flex-wrap: wrap;
  }
  
  .services .service-items .item {
    width: 40%;
    height: 360px;
  }
}